#stacks_in_201_7>.s3_row {
	margin: 0 -0px;
}

#stacks_in_201_7>.s3_row>.s3_column_left {
	width: 24.00%;
}

#stacks_in_201_7>.s3_row>.s3_column_center {
	width: 52.000000%;
}

#stacks_in_201_7>.s3_row>.s3_column_right {
	width: 24.00%;
}

#stacks_in_201_7>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_201_7>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_201_7>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



/* FlippingThing by RapidWeaver Central */

#stacks_in_201_5 .flippingThing {
	margin: 0 auto;
	-webkit-perspective: 1000;
		-moz-perspective: 1000;
			perspective: 1000;
}


#stacks_in_201_5 .flipperyThing {
	position: relative;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
			transition: 1s;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

#stacks_in_201_5 .front, #stacks_in_201_5 .back {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   		backface-visibility: hidden;
}

#stacks_in_201_5 .front {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	z-index: 2;
}

#stacks_in_201_5 .flippingThing, #stacks_in_201_5 .front, #stacks_in_201_5 .back {
	width: 100px;
	height: 100px;
}

#stacks_in_201_5 .back {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}


#stacks_in_201_5 .inner  {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}


#stacks_in_201_5 .reverse.flippingThing {
	position: relative;
	margin-bottom: 2px;

}

#stacks_in_201_5 .reverse .back {
	margin-bottom: 2px;
	margin-top: -2px;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
			transform: rotateX(180deg);
}

#stacks_in_201_5 .reverse.flippingThing .flipperyThing {

	-webkit-transform-origin: 100% 50px;
	   -moz-transform-origin: 100% 50px;
			transform-origin: 100% 50px;
}

#stacks_in_201_5 .reverse.flippingThing:hover .flipperyThing {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}







#stacks_in_201_19>.s3_row {
	margin: 0 -10px;
}

#stacks_in_201_19>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_201_19>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_201_19>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_201_19>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_201_19>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/* FlippingThing by RapidWeaver Central */

#stacks_in_201_26 .flippingThing {
	margin: 0 auto;
	-webkit-perspective: 1000;
		-moz-perspective: 1000;
			perspective: 1000;
}


#stacks_in_201_26 .flipperyThing {
	position: relative;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
			transition: 1s;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

#stacks_in_201_26 .front, #stacks_in_201_26 .back {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   		backface-visibility: hidden;
}

#stacks_in_201_26 .front {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	z-index: 2;
}

#stacks_in_201_26 .flippingThing, #stacks_in_201_26 .front, #stacks_in_201_26 .back {
	width: 100px;
	height: 100px;
}

#stacks_in_201_26 .back {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}


#stacks_in_201_26 .inner  {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}


#stacks_in_201_26 .reverse.flippingThing {
	position: relative;
	margin-bottom: 2px;

}

#stacks_in_201_26 .reverse .back {
	margin-bottom: 2px;
	margin-top: -2px;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
			transform: rotateX(180deg);
}

#stacks_in_201_26 .reverse.flippingThing .flipperyThing {

	-webkit-transform-origin: 100% 50px;
	   -moz-transform-origin: 100% 50px;
			transform-origin: 100% 50px;
}

#stacks_in_201_26 .reverse.flippingThing:hover .flipperyThing {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}








#stacks_in_201_31 {
	margin:  8px;
	padding:  4px;
}
#stacks_in_439>.s3_row {
	margin: 0 -0px;
}

#stacks_in_439>.s3_row>.s3_column_left {
	width: 71.31%;
}

#stacks_in_439>.s3_row>.s3_column_right {
	width: 28.690002%;
}




#stacks_in_439>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_439>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_439>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_446>.s3_row {
	margin: 0 -0px;
}

#stacks_in_446>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_446>.s3_row>.s3_column_center {
	width: 31.389999%;
}

#stacks_in_446>.s3_row>.s3_column_right {
	width: 28.61%;
}

#stacks_in_446>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_446>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_446>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



#stacks_in_231>.s3_row {
	margin: 0 -0px;
}

#stacks_in_231>.s3_row>.s3_column_left {
	width: 71.31%;
}

#stacks_in_231>.s3_row>.s3_column_right {
	width: 28.690002%;
}




#stacks_in_231>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_231>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_231>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_238>.s3_row {
	margin: 0 -0px;
}

#stacks_in_238>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_238>.s3_row>.s3_column_center {
	width: 31.389999%;
}

#stacks_in_238>.s3_row>.s3_column_right {
	width: 28.61%;
}

#stacks_in_238>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_238>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_238>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



#stacks_in_420>.s3_row {
	margin: 0 -0px;
}

#stacks_in_420>.s3_row>.s3_column_left {
	width: 71.31%;
}

#stacks_in_420>.s3_row>.s3_column_right {
	width: 28.690002%;
}




#stacks_in_420>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_420>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_420>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_427>.s3_row {
	margin: 0 -0px;
}

#stacks_in_427>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_427>.s3_row>.s3_column_center {
	width: 31.389999%;
}

#stacks_in_427>.s3_row>.s3_column_right {
	width: 28.61%;
}

#stacks_in_427>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_427>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_427>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



#stacks_in_289_5>.s3_row {
	margin: 0 -0px;
}

#stacks_in_289_5>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_289_5>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_289_5>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_289_5>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_289_5>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_289_14>.s3_row {
	margin: 0 -0px;
}

#stacks_in_289_14>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_289_14>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_289_14>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_289_14>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_289_14>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_289_23>.s3_row {
	margin: 0 -0px;
}

#stacks_in_289_23>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_289_23>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_289_23>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_289_23>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_289_23>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_261_5>.s3_row {
	margin: 0 -0px;
}

#stacks_in_261_5>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_261_5>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_261_5>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_261_5>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_261_5>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_261_14>.s3_row {
	margin: 0 -0px;
}

#stacks_in_261_14>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_261_14>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_261_14>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_261_14>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_261_14>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_261_23>.s3_row {
	margin: 0 -0px;
}

#stacks_in_261_23>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_261_23>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_261_23>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_261_23>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_261_23>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_318_9>.s3_row {
	margin: 0 -0px;
}

#stacks_in_318_9>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_318_9>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_318_9>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_318_9>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_318_9>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_319_9>.s3_row {
	margin: 0 -0px;
}

#stacks_in_319_9>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_319_9>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_319_9>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_319_9>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_319_9>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_5>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_5>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_400_5>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_400_5>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_5>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_5>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_11>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_11>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_400_11>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_400_11>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_11>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_11>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_19>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_19>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_400_19>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_400_19>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_19>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_19>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_23>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_23>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_400_23>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_400_23>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_23>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_23>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_31>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_31>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_400_31>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_400_31>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_31>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_31>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_35>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_35>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_400_35>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_400_35>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_35>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_35>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_43>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_43>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_400_43>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_400_43>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_43>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_43>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_47>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_47>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_400_47>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_400_47>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_47>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_47>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_55>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_55>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_400_55>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_400_55>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_55>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_55>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_59>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_59>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_400_59>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_400_59>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_59>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_59>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_67>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_67>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_400_67>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_400_67>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_67>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_67>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_400_71>.s3_row {
	margin: 0 -0px;
}

#stacks_in_400_71>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_400_71>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_400_71>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_400_71>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_400_71>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





