#stacks_in_p201_n7_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p201_n7_page4>.s3_row>.s3_column_left {
	width: 24.00%;
}

#stacks_in_p201_n7_page4>.s3_row>.s3_column_center {
	width: 52.000000%;
}

#stacks_in_p201_n7_page4>.s3_row>.s3_column_right {
	width: 24.00%;
}

#stacks_in_p201_n7_page4>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p201_n7_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p201_n7_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



/* FlippingThing by RapidWeaver Central */

#stacks_in_p201_n5_page4 .flippingThing {
	margin: 0 auto;
	-webkit-perspective: 1000;
		-moz-perspective: 1000;
			perspective: 1000;
}


#stacks_in_p201_n5_page4 .flipperyThing {
	position: relative;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
			transition: 1s;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

#stacks_in_p201_n5_page4 .front, #stacks_in_p201_n5_page4 .back {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   		backface-visibility: hidden;
}

#stacks_in_p201_n5_page4 .front {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	z-index: 2;
}

#stacks_in_p201_n5_page4 .flippingThing, #stacks_in_p201_n5_page4 .front, #stacks_in_p201_n5_page4 .back {
	width: 100px;
	height: 100px;
}

#stacks_in_p201_n5_page4 .back {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}


#stacks_in_p201_n5_page4 .inner  {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}


#stacks_in_p201_n5_page4 .reverse.flippingThing {
	position: relative;
	margin-bottom: 2px;

}

#stacks_in_p201_n5_page4 .reverse .back {
	margin-bottom: 2px;
	margin-top: -2px;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
			transform: rotateX(180deg);
}

#stacks_in_p201_n5_page4 .reverse.flippingThing .flipperyThing {

	-webkit-transform-origin: 100% 50px;
	   -moz-transform-origin: 100% 50px;
			transform-origin: 100% 50px;
}

#stacks_in_p201_n5_page4 .reverse.flippingThing:hover .flipperyThing {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}







#stacks_in_p201_n19_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_p201_n19_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p201_n19_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p201_n19_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p201_n19_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_p201_n19_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/* FlippingThing by RapidWeaver Central */

#stacks_in_p201_n26_page4 .flippingThing {
	margin: 0 auto;
	-webkit-perspective: 1000;
		-moz-perspective: 1000;
			perspective: 1000;
}


#stacks_in_p201_n26_page4 .flipperyThing {
	position: relative;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
			transition: 1s;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

#stacks_in_p201_n26_page4 .front, #stacks_in_p201_n26_page4 .back {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   		backface-visibility: hidden;
}

#stacks_in_p201_n26_page4 .front {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	z-index: 2;
}

#stacks_in_p201_n26_page4 .flippingThing, #stacks_in_p201_n26_page4 .front, #stacks_in_p201_n26_page4 .back {
	width: 100px;
	height: 100px;
}

#stacks_in_p201_n26_page4 .back {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}


#stacks_in_p201_n26_page4 .inner  {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}


#stacks_in_p201_n26_page4 .reverse.flippingThing {
	position: relative;
	margin-bottom: 2px;

}

#stacks_in_p201_n26_page4 .reverse .back {
	margin-bottom: 2px;
	margin-top: -2px;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
			transform: rotateX(180deg);
}

#stacks_in_p201_n26_page4 .reverse.flippingThing .flipperyThing {

	-webkit-transform-origin: 100% 50px;
	   -moz-transform-origin: 100% 50px;
			transform-origin: 100% 50px;
}

#stacks_in_p201_n26_page4 .reverse.flippingThing:hover .flipperyThing {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}







#stacks_in_p202_n5_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_p202_n5_page4>.s3_row>.s3_column_left {
	width: 62.00%;
}

#stacks_in_p202_n5_page4>.s3_row>.s3_column_right {
	width: 38.000000%;
}




#stacks_in_p202_n5_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p202_n5_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_p202_n5_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_p202_n11_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_p202_n11_page4>.s3_row>.s3_column_left {
	width: 45.83%;
}

#stacks_in_p202_n11_page4>.s3_row>.s3_column_right {
	width: 54.169998%;
}




#stacks_in_p202_n11_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p202_n11_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_p202_n11_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





/* FlippingThing by RapidWeaver Central */

#stacks_in_p202_n18_page4 .flippingThing {
	margin: 0 auto;
	-webkit-perspective: 1000;
		-moz-perspective: 1000;
			perspective: 1000;
}


#stacks_in_p202_n18_page4 .flipperyThing {
	position: relative;
	-webkit-transition: 1s;
	   -moz-transition: 1s;
			transition: 1s;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

#stacks_in_p202_n18_page4 .front, #stacks_in_p202_n18_page4 .back {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   		backface-visibility: hidden;
}

#stacks_in_p202_n18_page4 .front {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	z-index: 2;
}

#stacks_in_p202_n18_page4 .flippingThing, #stacks_in_p202_n18_page4 .front, #stacks_in_p202_n18_page4 .back {
	width: 135px;
	height: 135px;
}

#stacks_in_p202_n18_page4 .back {
	border: 1px solid #E5E5E5;
	background: #FFFFFF;
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
}


#stacks_in_p202_n18_page4 .inner  {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}


#stacks_in_p202_n18_page4 .reverse.flippingThing {
	position: relative;
	margin-bottom: 2px;

}

#stacks_in_p202_n18_page4 .reverse .back {
	margin-bottom: 2px;
	margin-top: -2px;
	-webkit-transform: rotateX(180deg);
	   -moz-transform: rotateX(180deg);
			transform: rotateX(180deg);
}

#stacks_in_p202_n18_page4 .reverse.flippingThing .flipperyThing {

	-webkit-transform-origin: 100% 67px;
	   -moz-transform-origin: 100% 67px;
			transform-origin: 100% 67px;
}

#stacks_in_p202_n18_page4 .reverse.flippingThing:hover .flipperyThing {
	-webkit-transform: rotateX(-180deg);
	   -moz-transform: rotateX(-180deg);
			transform: rotateX(-180deg);
}







#stacks_in_231_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_231_page4>.s3_row>.s3_column_left {
	width: 71.31%;
}

#stacks_in_231_page4>.s3_row>.s3_column_right {
	width: 28.690002%;
}




#stacks_in_231_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_231_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_231_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_238_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_238_page4>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_238_page4>.s3_row>.s3_column_center {
	width: 31.389999%;
}

#stacks_in_238_page4>.s3_row>.s3_column_right {
	width: 28.61%;
}

#stacks_in_238_page4>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_238_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_238_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



#stacks_in_p146_n5_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p146_n5_page4>.s3_row>.s3_column_left {
	width: 71.31%;
}

#stacks_in_p146_n5_page4>.s3_row>.s3_column_right {
	width: 28.690002%;
}




#stacks_in_p146_n5_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p146_n5_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p146_n5_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p146_n14_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p146_n14_page4>.s3_row>.s3_column_left {
	width: 40.00%;
}

#stacks_in_p146_n14_page4>.s3_row>.s3_column_center {
	width: 31.389999%;
}

#stacks_in_p146_n14_page4>.s3_row>.s3_column_right {
	width: 28.61%;
}

#stacks_in_p146_n14_page4>.s3_row>.s3_column {
	padding: 0 0px;
}








@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p146_n14_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p146_n14_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}



#stacks_in_p289_n5_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p289_n5_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p289_n5_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p289_n5_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p289_n5_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p289_n5_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p289_n14_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p289_n14_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p289_n14_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p289_n14_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p289_n14_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p289_n14_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p289_n23_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p289_n23_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p289_n23_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p289_n23_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p289_n23_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p289_n23_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p261_n5_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p261_n5_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p261_n5_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p261_n5_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p261_n5_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p261_n5_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p261_n14_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p261_n14_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p261_n14_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p261_n14_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p261_n14_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p261_n14_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p261_n23_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p261_n23_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p261_n23_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p261_n23_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p261_n23_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p261_n23_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p318_n9_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p318_n9_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p318_n9_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p318_n9_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p318_n9_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p318_n9_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p319_n9_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p319_n9_page4>.s3_row>.s3_column_left {
	width: 73.00%;
}

#stacks_in_p319_n9_page4>.s3_row>.s3_column_right {
	width: 27.000000%;
}




#stacks_in_p319_n9_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p319_n9_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p319_n9_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n5_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n5_page4>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_p400_n5_page4>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_p400_n5_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n5_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n5_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n11_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n11_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p400_n11_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p400_n11_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n11_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n11_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n19_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n19_page4>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_p400_n19_page4>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_p400_n19_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n19_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n19_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n23_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n23_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p400_n23_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p400_n23_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n23_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n23_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n31_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n31_page4>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_p400_n31_page4>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_p400_n31_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n31_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n31_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n35_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n35_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p400_n35_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p400_n35_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n35_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n35_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n43_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n43_page4>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_p400_n43_page4>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_p400_n43_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n43_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n43_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n47_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n47_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p400_n47_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p400_n47_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n47_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n47_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n55_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n55_page4>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_p400_n55_page4>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_p400_n55_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n55_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n55_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n59_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n59_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p400_n59_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p400_n59_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n59_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n59_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n67_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n67_page4>.s3_row>.s3_column_left {
	width: 58.93%;
}

#stacks_in_p400_n67_page4>.s3_row>.s3_column_right {
	width: 41.070000%;
}




#stacks_in_p400_n67_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n67_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n67_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





#stacks_in_p400_n71_page4>.s3_row {
	margin: 0 -0px;
}

#stacks_in_p400_n71_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_p400_n71_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_p400_n71_page4>.s3_row>.s3_column {
	padding: 0 0px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_p400_n71_page4>.s3_row  {
		margin: -0px 0;
	}
	#stacks_in_p400_n71_page4>.s3_row>.s3_column {
		padding: 0px 0;
		width:100%;
	}


}





/* PopThing by RapidWeaver Central  */

/* Adapted from a pen by Chris Coyier @ css-tricks.com */

#popThingstacks_in_407_page4 {
	position: relative;
	margin: 80px 80px 0 0;
	padding: 0;
}

#popThingstacks_in_407_page4:hover .popthing, #popThingstacks_in_407_page4:active .popthing {
	opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
}

#popThingstacks_in_407_page4:hover .popthing:hover, #popThingstacks_in_407_page4:hover .popthing:active, #popThingstacks_in_407_page4:active .popthing:hover, #popThingstacks_in_407_page4:active .popthing:active {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1);
}

#stacks_in_407_page4 .popthing {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
	line-height: 120px;
	margin-top: -60px;
	margin-right: -60px;
	text-align: center;
	background: #3BAFDA;
	 
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 14px;
	text-decoration: none;
	opacity: 0;
	z-index: 100;
	text-shadow: 0 1px 0px #333333;
	text-shadow:none;
	text-transform: none;;
	;
	font-weight:normal;;
	-webkit-transform: scale(0.7);
	   -moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
			transform: scale(0.7);
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
			transition: 0.2s;
	 
}



/* WindowThing Stack by RapidWeaver Central */

#windowthingstacks_in_409_page4  {
	width: auto;
	position: relative;
	-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;	
	-webkit-border-radius: 6px;
			border-radius: 6px;
	
}

#stacks_in_409_page4 .titlething {
	background: rgba(221, 221, 221, 1.00) !important;
	text-align: center;
	padding: 0.75em;
	-webkit-border-bottom-left-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px!important;
			border-bottom-left-radius: 0px	!important;
			border-bottom-right-radius: 0px!important;
	-webkit-border-radius: 6px;
			border-radius: 6px;
}

#stacks_in_409_page4 .titlething.labelthing {
	color: #333333;
	text-transform: none;;
	letter-spacing:0px;;
	font-weight:normal;;
  	-webkit-user-select: none;
	   -moz-user-select: none;
			user-select: none;
}

#stacks_in_409_page4 .icons {
	padding: 0.75em;
	position: absolute;
}

#stacks_in_409_page4 .icons span {
	background: #FFBE2D;
}

#stacks_in_409_page4 .icons:before {
	content: "";
	background: #FF6259;
}

#stacks_in_409_page4 .icons:after {
	content: "";
	background: #29C940;
}

#stacks_in_409_page4 .icons span, #stacks_in_409_page4 .icons:before, #stacks_in_409_page4 .icons:after {
	display: inline-block;
	margin-right: 0.5em;
	float: left;
	width: 1em;
	height: 1em;
	-webkit-border-radius: 50%;
			border-radius: 50%;
	}


#stacks_in_409_page4 .containerthing {
	background-color: #848686;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #FBFEFE, #848686);
	background-image: -ms-linear-gradient(top, #FBFEFE, #848686);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FBFEFE), color-stop(100%, #848686));
	background-image: -webkit-linear-gradient(top, #FBFEFE, #848686);
	background-image: linear-gradient(top, #FBFEFE, #848686);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFEFE', endColorstr='#848686', GradientType=0);
	overflow: hidden;
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-top-right-radius: 0px!important;
			border-top-left-radius: 0px	!important;
			border-top-right-radius: 0px!important;
	-webkit-border-radius: 6px;
			border-radius: 6px;
}

/* Blinking Cursor */


 #stacks_in_409_page4 .containerthing:after {display:none;}


#stacks_in_409_page4 .containerthing:after {
			
}


@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#stacks_in_411_page4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_411_page4>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_411_page4>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_411_page4>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_411_page4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_411_page4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





