
#stacks_in_1_page1 {
	background-image: url("../404_files/backgroundImage_1.png");
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
}
/* PopThing by RapidWeaver Central  */

/* Adapted from a pen by Chris Coyier @ css-tricks.com */

#popThingstacks_in_2_page1 {
	position: relative;
	margin: 80px 80px 0 0;
	padding: 0;
}

#popThingstacks_in_2_page1:hover .popthing, #popThingstacks_in_2_page1:active .popthing {
	opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
			transform: scale(1);
}

#popThingstacks_in_2_page1:hover .popthing:hover, #popThingstacks_in_2_page1:hover .popthing:active, #popThingstacks_in_2_page1:active .popthing:hover, #popThingstacks_in_2_page1:active .popthing:active {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
			transform: scale(1.1);
}

#stacks_in_2_page1 .popthing {
	position: absolute;
	top: 0;
	right: 0;
	width: 120px;
	height: 120px;
	line-height: 120px;
	margin-top: -60px;
	margin-right: -60px;
	text-align: center;
	background: #D088DA;
	 
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 30px;
	text-decoration: none;
	opacity: 0;
	z-index: 100;
	text-shadow: 0 1px 0px #333333;
	
	text-transform: none;;
	;
	font-weight:bold;;
	-webkit-transform: scale(0.7);
	   -moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
			transform: scale(0.7);
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
			transition: 0.2s;
	
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	 
}




#stacks_in_2_page1 {
	margin:  2px;
}

#stacks_out_2_page1 {
	width: 71%;
}
/*  */
#card-stacks_in_4_page1 .card-inner:hover::before {
  opacity: 0.00; }

#card-stacks_in_4_page1 .card-inner:hover .card-more {
  color: rgba(0, 0, 0, 0.50);
  background: rgba(255, 255, 255, 1.00); }

#card-stacks_in_4_page1 .card-inner.shift:hover {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px); }

/*  */
.com_weavium_stacks_Image_Card_stack, #stacks_out_4_page1 {
  overflow: visible !important; }

#card-stacks_in_4_page1 {
  /*  */
  width: 100%;
  /*  */
  padding: 30px 20px;
  box-sizing: border-box; }
  #card-stacks_in_4_page1.card-left {
    margin-right: auto; }
  #card-stacks_in_4_page1.card-right {
    margin-left: auto; }
  #card-stacks_in_4_page1.card-center {
    margin: 0 auto; }
  #card-stacks_in_4_page1 * {
    box-sizing: border-box;
    transition: all 0.3s ease-out; }
  #card-stacks_in_4_page1 a:first-of-type {
    text-decoration: none; }
  #card-stacks_in_4_page1 .card-inner {
    /*  */
    font-family: "Montserrat";
    /*  */
    /*  */
    color: rgba(255, 255, 255, 1.00);
    padding: 30px 25px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*  */
    background: url(../404_files/card_image_4.png);
    /*  */
    background-color: rgba(255, 255, 255, 0.00);
    background-size: cover;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #card-stacks_in_4_page1 .card-inner::before {
      /*  */
      background: linear-gradient(to bottom right, #FC466B, #3F5EFB);
      /*  */
      content: '';
      top: 50%;
      left: 50%;
      width: 105%;
      height: 105%;
      display: block;
      position: absolute;
      opacity: 0.00;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    #card-stacks_in_4_page1 .card-inner .card-caption {
      /*  */
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
      /*  */
      margin: 0;
      z-index: 2;
      font-weight: bold;
      position: relative; }
      #card-stacks_in_4_page1 .card-inner .card-caption.hide {
        display: none; }
    #card-stacks_in_4_page1 .card-inner .card-more {
      z-index: 2;
      margin-top: auto;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: inherit;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 3px solid rgba(255, 255, 255, 1.00);
      border-radius: 35px;
      transition: all 0.1s ease-out; }
      #card-stacks_in_4_page1 .card-inner .card-more.hide {
        display: none; }
      #card-stacks_in_4_page1 .card-inner .card-more i {
        font-size: 20px; }

@media (min-width: 767px) {
  #card-stacks_in_4_page1 .card-inner {
    height: 250px; }
    #card-stacks_in_4_page1 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 468px) and (max-width: 767px) {
  #card-stacks_in_4_page1 .card-inner {
    height: 250px; }
    #card-stacks_in_4_page1 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 0px) and (max-width: 468px) {
  #card-stacks_in_4_page1 .card-inner {
    height: 250px; }
    #card-stacks_in_4_page1 .card-inner .card-caption {
      font-size: 24px;
      line-height: 34px; } }
